<div class="field field--multi field--{{answer.type|lower}} {{'field--cols' if use_grid}}">
  {% for option in widget.options %}
    {% set option_id = answer.id ~ "-" ~ loop.index %}

    <div class="field__item">
      {% set input = {
        'type': 'checkbox',
        'value': option.value,
        'name': widget.name,
        'id': option_id,
        'placeholder': answer.placeholder,
        'checked': checked
      } %}
      {% include 'partials/forms/input.html' %}

      {% set label = {
        'inline': true,
        'for': option_id,
        'text': option.label
      } %}
      {% include 'partials/forms/label.html' %}

    </div>

  {% endfor %}
  <input type="hidden" name="{{answer.id}}" value="">
</div>
