{% set width = 40 %}

<div class="dialog js-timeout-dialog" id="timeout-dialog" aria-hidden="true">

  <div class="dialog__overlay" tabindex="-1" data-a11y-dialog-hide></div>

  <div class="dialog__body" role="dialog" aria-labelledby="dialog-title">
    <div role="document">

      <div class="mars u-mb-s">UK Innovation Survey</div>
      <h1 class="saturn" id="dialog-title" tabindex="0">Your session is about to expire</h1>

      <div class="time js-timeout">

        <svg class="time__visual" width="{{width * 2}}px" height="{{width * 2}}px" viewBox="0 0 {{width * 2}} {{width * 2}}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <circle cx="{{width}}" cy="{{width}}" r="{{width}}" stroke="#D3D3D3" stroke-width="6" fill="none"></circle>
          <circle class="time__circle js-timeout-circle" cx="{{width}}" cy="{{width}}" r="{{width}}" transform="rotate(-90 {{width}} {{width}})" fill="none" stroke="red" stroke-width="6" stroke-linecap="round"></circle>
        </svg>

        <div class="time__text venus js-timeout-time">0:00</div>

      </div>

      <form class="" action="/" method="post">
        <button class="btn btn--primary" type="button" data-a11y-dialog-hide>Continue survey</button>
        <br/>
        <button class="btn btn--secondary btn--border" type="button" data-a11y-dialog-hide>Save and sign out</button>
      </form>
    </div>
  </div>
</div>
