<div class="dialog js-timeout-dialog" id="timeout-dialog" aria-hidden="true">

  <div class="dialog__overlay" tabindex="-1" data-a11y-dialog-hide></div>

  <div class="dialog__body" role="dialog" aria-labelledby="dialog-title">
    <div role="document">

      <div class="mars u-mb-s">UK Innovation Survey</div>
      <h1 class="saturn" id="dialog-title" tabindex="0">Your session is about to expire</h1>

      <div class="time js-timeout">

        <svg class="time__visual" width="120px" height="120px" viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path fill="none" stroke="#D3D3D3" stroke-width="6" d="M62,101 C83.5391052,101 101,83.5391052 101,62 C101,40.4608948 83.5391052,23 62,23 C40.4608948,23 23,40.4608948 23,62 C23,83.5391052 40.4608948,101 62,101 Z"></path>
          <path class="circle" fill="none" stroke="red" stroke-width="6" d="M62,101 C83.5391052,101 101,83.5391052 101,62 C101,40.4608948 83.5391052,23 62,23 C40.4608948,23 23,40.4608948 23,62 C23,83.5391052 40.4608948,101 62,101 Z"></path>
        </svg>

        <div class="time__text venus js-timeout-time">0:00</div>

      </div>

      <form class="" action="/" method="post">
        <button class="btn btn--primary" type="button" data-a11y-dialog-hide>Continue survey</button>
        <br/>
        <button class="btn btn--secondary btn--border" type="button" data-a11y-dialog-hide>Save and sign out</button>
      </form>
    </div>
  </div>
</div>
